@import url("../../vendors/fontello/css/font-awesome.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 62.5%;
    font-weight: 300;
    color: #ffffff;
}

body {
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.button {
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
}

.cover-img {
    background-image: url("images/background.jpg");
    background-origin: border-box;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 5px;
    /* keep fixed icons on top */
    position: relative;
    z-index: 2;
}

.top-nav {
    display: none;
}

.top-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
}

.menu-button {
    background-color: rgba(21, 22, 22, 0.7);
    font-size: 2.4rem;
    padding: 1vmin;
}

.logo {
    margin-bottom: 5px;
}

.logo a {
    display: block; 
    line-height: 0;
}

.logo img {
    width: 38px;
}

.module {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module-intro {
    text-align: center;
}

.module-intro > .title {
    font-family: 'Playfair Display', serif;
    font-size: 13vw;
    font-weight: 400;
    letter-spacing: normal;
}

.module-intro > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
    max-width: 560px;
    margin-bottom: 15px;
}

.main-button {
    background-color: #da7074;
    border-radius: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    position: relative;
    z-index: 1;
    height: 4.6rem;
    width: 16rem;
    margin: 0 auto;
}
/*
.main-button:hover,
.main-button:focus {
    background-color: #ffffff;
    color: #565656;
}
*/
.lines-container {
    position: relative;
    width: 90%;
    max-width: 450px;
    height: 325px;
    margin-bottom: 25px;
}

/* horizontal line */
.lines-container::before {
    content: "";
    border-top: #da7074 solid 1px;
    position: absolute;
    width: 100%;
    top: 2.3rem;
    left: 0;
}

/* vertical lines */
.lines-container::after {
    content: "";
    background-image: linear-gradient(#da7074, #da7074),
                      linear-gradient(#da7074, #da7074);
    background-repeat: no-repeat;
    background-size: 1px 90%, 1px 90%;
    background-position: left top, right bottom;
    position: absolute;
    height: 65%;
    width: 6px;
    left: calc(50% - 6px/2);
    top: 35%;
}

.play-button {
    background-color: rgba(0, 227, 254, 0);
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    display: block;
    font-size: 42px;
    line-height: 42px;
    width: 82px;
    height: 82px;
    padding-left: 10px;
}

.module-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    text-align: center;
    /* clear gap from anchor */
    line-height: 0;
}

.card img {
    width: 100vw;
    max-width: 480px;
    height: auto;
}

.card .text-block {
    position: absolute;
    width: 100%;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.card .title,
.card .subtitle {
    font-size: 1.8rem;
    line-height: 3rem;
    margin: 0 14px;
}

.card .title {
    font-weight: 600;
    text-transform: uppercase;
}

.card .subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: italic;
}

@media screen and (min-width: 20rem) {
    .module-intro > p {
        font-size: calc(1.6rem + (2 - 1.6) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(2rem + (3.3 - 2) * ((100vw - 20rem) / (80 - 20)));
    }
}

@media screen and (min-width: 80em) {
    .module-intro > p {
        font-size: 2rem;
        line-height: 3.3rem;
    }
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-footer-row {
    background-color: #ffffff;
    color: #000000;
}

.page-footer-item {
    border-top: 1px solid grey;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.page-footer-item:first-child {
    border-top: none;
}

.page-footer-item > h2 {
    color: #151515;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 15px 0;
}

.mission > h2 {
    text-align: center;
}

.page-footer-item ul {
    list-style-type: none;
}

.page-footer-item ul > li {
    line-height: 4.5rem;
    border-bottom: 1px solid rgba(86, 86, 86, 0.5);
}

.page-footer-item ul > li:last-child {
    border-bottom: none;
}

.page-footer-item p,
.page-footer-item a {
    color: #565656;
    font-style: italic;
}

.copyright {
    color: #565656;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 4.5rem;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .card img {
        width: 50vw;
    }
}
