@import url("../../vendors/fontello/css/font-awesome.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 62.5%;
    font-weight: 300;
    color: #ffffff;
}

body {
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.button {
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
}

.cover-img {
    background-image: url("images/background.jpg");
    background-origin: border-box;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-bottom: 10px;
    margin-top: 5px;
    /* keep fixed icons on top */
    position: relative;
    z-index: 2;
}

.top-nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.top-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.top-nav li {
    display: inline-block;
    flex: 1 1 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.top-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
}

.menu-button {
    background-color: rgba(21, 22, 22, 0.7);
    font-size: 2.4rem;
    padding: 1vmin;
}

.logo {
    margin-bottom: 5px;
}

.logo a {
    display: inline-block; 
    line-height: 0;
}

.logo img {
    width: 38px;
}

.module {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module-intro {
    text-align: center;
    margin-bottom: 40px;
}

.module-intro > .title {
    font-family: 'Playfair Display', serif;
    font-size: 13.65vw;
    font-weight: 400;
    letter-spacing: normal;
    margin-top: 50px;
    margin-bottom: 20px;
}

.module-intro > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
    max-width: 590px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 90px;
}

.main-button {
    background-color: #da7074;
    border-radius: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    position: relative;
    z-index: 1;
    height: 4.6rem;
    width: 16rem;
    margin: 0 auto;
}

.lines-container {
    position: relative;
    width: 90%;
    max-width: 450px;
    height: 325px;
    margin-bottom: 25px;
}

/* horizontal line */
.lines-container::before {
    content: "";
    border-top: #da7074 solid 1px;
    position: absolute;
    width: 100%;
    top: 2.3rem;
    left: 0;
}

/* vertical lines */
.lines-container::after {
    content: "";
    background-image: linear-gradient(#da7074, #da7074),
                      linear-gradient(#da7074, #da7074);
    background-repeat: no-repeat;
    background-size: 1px 90%, 1px 90%;
    background-position: left top, right bottom;
    position: absolute;
    height: 65%;
    width: 6px;
    left: calc(50% - 6px/2);
    top: 35%;
}

.play-button {
    background-color: rgba(0, 227, 254, 0);
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    display: block;
    font-size: 42px;
    line-height: 42px;
    width: 82px;
    height: 82px;
    padding-left: 10px;
}

.module-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    text-align: center;
    /* clear gap from anchor */
    line-height: 0;
}

.card img {
    width: 100vw;
    max-width: 480px;
    height: auto;
}

.card .text-block {
    position: absolute;
    width: 100%;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.card .title,
.card .subtitle {
    font-size: 1.8rem;
    line-height: 3rem;
    margin: 0 14px;
}

.card .title {
    font-weight: 600;
    text-transform: uppercase;
}

.card .subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: italic;
}

@media screen and (min-width: 20rem) {
    .module-intro > p {
        /* take into account % from html tag */
        font-size: calc(1.6rem + (2 - 1.6) * 0.625 * ((100vw - 20rem / 0.625) / (80 - 20)));
        line-height: calc(2rem + (3.4 - 2) * 0.625 * ((100vw - 20rem / 0.625) / (80 - 20)));
    }
}

@media screen and (min-width: 80rem) {
    .module-intro > p {
        font-size: 2rem;
        line-height: 3.4rem;
    }
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-footer-row {
    background-color: #ffffff;
    color: #000000;
}

.page-footer-item {
    border-top: 1px solid #808080;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.page-footer-item:first-child {
    border-top: none;
}

.page-footer-item > h2 {
    color: #151515;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 15px 0;
}

.mission > h2 {
    text-align: center;
}

.page-footer-item ul {
    list-style-type: none;
}

.page-footer-item ul > li {
    line-height: 4.5rem;
    border-bottom: 1px solid rgba(86, 86, 86, 0.5);
}

.page-footer-item ul > li:last-child {
    border-bottom: none;
}

.page-footer-item ul a {
    display: block;
}

.page-footer-item p,
.page-footer-item a {
    color: #565656;
    font-style: italic;
}

.copyright {
    color: #565656;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 4.5rem;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .top-nav {
        align-self: stretch;
        line-height: 3rem;
    }

    .top-nav ul {
        justify-content: space-evenly;
    }

    .top-nav li {
        flex-basis: 0;
    }

    .card img {
        width: 50vw;
    }

    .page-footer-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .page-footer-item {
        border-top: none;
        margin-bottom: 25px;
    }

    .page-footer-item ul > li {
        border-bottom: none;
    }

    .mission {
        flex-basis: 100%;
    }

    .mission p {
        max-width: 52rem;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .top-nav a:hover {
        border-bottom: 3px solid #ffffff;
    }

    .top-nav a:focus {
        outline: solid 3px #ffffff;
    }

    .main-button:hover,
    .main-button:focus {
        background-color: #ffffff;
        color: #565656;
    }

    .play-button {
        transition-duration: 0.4s;
    }

    .play-button:hover,
    .play-button:focus {
        background-color: #ffffff;
        color: #565656;
    }

    .card img {
        transition-duration: 0.4s;
    }

    .card:focus img,
    .card:hover img {
        opacity: 0.6;
    }

    .card:hover .title {
        text-decoration: underline;
    }

    .page-footer-item a:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 1025px) {
    .page-header {
        flex-direction: row;
        align-items: flex-end;
        height: 100px;
    }

    .logo {
        width: 20%;
    }

    .top-nav {
        align-self: unset;
        margin: 0 auto;
    }

    .top-icons {
        justify-content: flex-end;
        width: 20%;
        position: static;
    }

    .menu-button {
        background-color: rgba(21, 22, 22, 0);
        padding: unset;
        margin-left: 35px;
    }

    .module-intro > .title {
        font-size: 140px;
    }

    .mission {
        flex-basis: 25%;
    }

    .mission p {
        display: unset;
    }
}

@media screen and (min-width: 1920px) {
    .page {
        width: 1920px;
        margin: 0 auto;
    }
}