@import url("../../vendors/fontello/css/font-awesome.css");

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

body {
    background-color: #000000;
    width: 1920px;
    margin: 0 auto;
}

.cover-img {
    background-image: url("images/background.jpg");
    background-origin: border-box;
    background-position: top center;
    background-size: 1920px;
    background-repeat: no-repeat;
    height: 1280px;
    padding-top: 78px;
    margin: 0 auto;
}

#page-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    width: 1723px;
    height: 120px;
    margin: 0 auto;

    /* to fix whitespace problem for %width */
    font-size: 0px;
}

#logo {
    display: inline-block;
    width: 20%;
}

#logo > a {
    display: block;
    width: 38px;
    height: 38px;
    border-style: solid;
    border-radius: 50%;
    border-color: #ffffff;
}

#top-nav {
    display: inline-block;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#top-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#top-nav li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

#top-nav a:hover {
    border-bottom: 3px solid #ffffff;
}

#top-nav a:focus {
    outline: solid 3px #ffffff;
}

#top-icons {
    display: inline-block;
    width: 20%;
    font-size: 24px;
}

#top-icons > div {
    float: right;
}

#caption {
    width: 735px;
    height: 667px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#caption > h1 {
    font-family: 'Playfair Display', serif;
    font-size: 140px;
    line-height: 140px;
    font-weight: 400;
    margin: 20px 0;
    letter-spacing: normal;
}

#caption > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
    padding: 0 91px;
    margin: 0;
}

#caption > section {
    width: 449px;
    height: 325px;
    margin: 98px auto 0 auto;
}

.button {
    border: none;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.central-btn {
    background-color: #da7074;
    border-radius: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 18px 47px;
    margin: 0 auto;
    display: block;
    position: relative;
    bottom: 30px;
}

.central-btn:hover, .central-btn:focus {
    background-color: #ffffff;
    color: #565656;
}

.line {
    background-color: #da7074;
    display: inline-block;
    margin: 0;
}

.hline {
    height: 1px;
    width: 100%;
}

.vline {
    height: 190px;
    width: 1px;
    position: absolute;
}

.vline:nth-of-type(2) {
    left: 958px;
    top: 913px;
}

.vline:nth-of-type(3) {
    left: 963px;
    top: 933px;
}

#play-btn {
    background-color: rgba(0, 227, 254, 0);
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    display: inline-block;
    font-size: 42px;
    line-height: 42px;
    width: 82px;
    height: 82px;
    padding: 0 0 0 10px;
    margin: 25px 0 0 0;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#play-btn:hover, #play-btn:focus {
    background-color: #ffffff;
    color: #565656;
}

.row-item {
    display: block;
    background-repeat: no-repeat;
    width: 480px;
    height: 500px;
    text-align: center;
    padding-top: 330px;
    float: left;
}

.row-item:hover > h2 {
    text-decoration: underline;
}

.img-1 {
    background-image: url("images/row-img-1.jpg");
}

.img-2 {
    background-image: url("images/row-img-2.jpg");
}

.img-3 {
    background-image: url("images/row-img-3.jpg");
}

.img-4 {
    background-image: url("images/row-img-4.jpg");
}

.row-item > h2, .row-item > p {
    font-size: 18px;
    line-height: 30px;
    margin: 0 14px;
}
.row-item > h2 {
    font-weight: 600;
    text-transform: uppercase;
}

.row-item > p {
    font-style: italic;
}

#page-footer > div {
    background-color: #ffffff;
    color: #000000;
    padding: 100px 197px 120px 197px;
}

.footer-col {
    width: 365px;
    float: left;
    line-height: 26px;
    margin-right: 22px;
}

.footer-col:last-of-type {
    margin-right: 0;
}

.footer-col > h2 {
    color: #151515;
    font-size: 14px;
    text-transform: uppercase;
    margin: 15px 0;
}

.footer-col ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-col p, .footer-col a {
    color: #565656;
    font-style: italic;
    margin: 0;
}

.footer-col a:hover {
    text-decoration: underline;
}

.copyright {
    color: #565656;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    padding: 25px 0;
}